<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .area{border: 1px solid black; min-height:  100px;}
        table{text-align: center;}
        th{border: 1px solid black; width: 100px;}
    </style>
</head>
<body>
    <h1>DOM(Document Object Model)</h1>
    <h2>Node객체</h2>
    <h3>텍스트 노드가 있는 노드</h3>
    <button onclick="textNode();">실행확인</button>
    <div id="textNodeDiv" class="area"></div>
    <script>
        const textNode = () =>{
            // element 생성
            const title = document.createElement('h3'); // <h3></h3>

            // textnode 생성
            const textNode = document.createTextNode('안녕'); //"안녕"

            // (원한다면) 속성 설정
            // 노드 연결
            title.appendChild(textNode); // <h3>안녕</h3> 
            document.getElementById('textNodeDiv').appendChild(title);
        }

    </script>

    <h3>텍스트 노드가 없는 노드</h3>
    <button onclick="noTextNode();">실행확인</button>
    <div id="noTextNodeDiv" class="area"></div>
    <script>
        const noTextNode = () => {
            // element생성
            const img = document.createElement('img');// <img>

            // (원한다면) 속성 설정
            img.src = "https://i.namu.wiki/i/MniL5fZS2WR2MevQjmwNGVet4rJSbVCWsKfAwfD42igiERDxB0Zz30HMn1tfg355so3n0L9P4N15GOy9xuwreA.svg";
            img.width = '150';
            img.height = '100';
            img.myProperty = 'abc'; //얘는 img에 없는 함수인데 넣으랴고 해도 안들어감
            img.setAttribute('ourProperty', '123'); //setAttribute를 이용해서 없는거도 굳이 넣어볼 수 있음.

            // 노드 연결
            document.getElementById('noTextNodeDiv').appendChild(img);            
        }

    </script>

    <h2>innerHTML</h2>
    <button onclick="innerHTMLTest();">실행확인</button>
    <table id="board">
        <tr>
            <th>글번호</th>
            <th>글제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>작성일</th>
        </tr>
    </table>
    <script>
        const innerHTMLTest = () =>{
            const board = document.getElementById('board');

            const num = 1;
            const title = '제목입니다.';
            const user = 'user01';
            const count = 1;
            const date = new Date();

            // board.innerHTML += '<tr><td>' + num + '</td>'
            //                     +'<td>' + title + '</td>'
            //                     +'<td>' + user + '</td>'
            //                     +'<td>' + count + '</td>'
            //                     +'<td>' + date.getFullYear() + "-" + (date.getMonth()+1) + '-' + date.getDate() + '</td>'
            //                     +'</tr>';

            board.innerHTML += `<tr>
                                <td>${num}</td>
                                <td>${title}</td>
                                <td>${user}</td>
                                <td>${count}</td> 
                                <td>${date.getFullYear()}-${(date.getMonth()+1)}-${date.getDate()}</td> 
                                </tr>`;


        }
    </script>

    <h2>스타일 지정</h2>
    <button onclick="giveStyle();">실행확인</button>
    <div id="styleDiv" class="area"></div>
    <script>
        const giveStyle = () => {
            // id가 styleDiv인 요소에 배경은 검은색, 모서리 둥글기는 10px로 만들기

            const area = document.getElementById('styleDiv');
            area.style.backgroundColor = 'black';
            area.style.borderRadius = '100px';
            area.style.transition = 'all 2s';
        }
    </script>

    <h2>노드 삭제</h2>
    <button onclick="deleteNode();">실행확인</button>
    <div id="delDiv" class="area"></div>
    <script>
        const deleteNode = () =>{
            document.getElementById('delDiv').remove();
        }
    </script>

    





</body>
</html>